run = "yarn run dev"

entrypoint = "main.sh"
hidden = [".build", ".config"]

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[nix]
channel = "stable-22_11"

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[[ports]]
localPort = 5173
externalPort = 80
